nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    padding: 0 3vw;
    padding-top: 1vh;
    position: relative;
    
    img {
        height: 100%;
    }

    .nav-links {
        display: flex;
        gap: 2.5vw;

        a {
            text-decoration: none;
            color: #175888;
            font-size: large;
        }
    }

    .services-options {
        background-color: rgb(247, 247, 247);
        position: absolute;
        width: 18%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        border: 1px solid black;

        a {
            text-decoration: none;
            color: black;
            padding: 5px;
            padding-left: 10px;

            &:hover{
                background-color: white;
            }
        }
    }
}

// contact us

.m-branch
{
  display: flex;
  align-items: center;
  justify-content: center;  
  display: grid;
  gap: 0 5vw ;
  grid-template-columns: auto auto;  
}

#branch
{
    text-align: center;
    color: #175888;
}

h3
{
    color: #175888;
}

.sec1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.map
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
   box-shadow: 3px 3px 10px rgb(167,167,167); 
   display : flex;
   align-items: center;
   justify-content: center;
   gap: 2vh;
   width: 25vw;
   margin-bottom: 5vh;
   padding: 2vh;
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    
}

button
{
    background-color: #175888;
    color: white;
    padding: 1vh;
    cursor: pointer;
}