* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    padding: 0 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    box-shadow: 3px 3px 10px rgb(167, 167, 167);
    
    img {
        height: 100%;
    }

    .nav-links {
        display: flex;
        gap: 2.5vw;
        align-items: center;

        a {
            text-decoration: none;
            color: #175888;
            font-size: large;
        }
    }

    .services-options {
        background-color: rgb(247, 247, 247);
        position: absolute;
        width: 18%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        p {
            color: black;
            margin: 0;
            padding: 6px;

            &:hover{
                background-color: white;
            }
        }
    }

    .list-icon{
        display: none;
    }

    .nav-dropdown{
        display: none;
    }
}


//Home page
.home {

    .home-content {
        margin-top: 5vh;
        padding: 0 2vw;

        li {
            margin-bottom: 2vh;
        }

        p {
            line-height: 2vw;
        }

        img {
            height: 20vh;
            border-radius: 5px;
        }
    }

    .home-heading {
        color: #175888;
        font-size: x-large;
        padding-bottom: 1vh;
        border-bottom: 1px solid #c5c5c5;
    }
}


footer {
    background-color: #175888;
    padding: 3vh 0;
    padding-left: 2vw;
    margin-top: 6vh;

    .footer-content {
        display: flex;
        gap: 1.5vw;

        svg {
            cursor: pointer;
        }
    }
}


//Contact Us page
.m-branch
{
  display: flex;
  align-items: center;
  justify-content: center;  
  display: grid;
  gap: 0 5vw ;
  grid-template-columns: auto auto;  
  padding: 5vh 0;
}

#branch
{
    text-align: center;
    color: #175888;
    margin: 5vh 0;
}

h3
{
    color: #175888;
}

.sec1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.map
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
   box-shadow: 3px 3px 10px rgb(167,167,167); 
   display : flex;
   align-items: center;
   justify-content: center;
   gap: 2vh;
   width: 25vw;
   margin-bottom: 5vh;
   padding: 2vw;
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    
    input{
        padding: 1vh 1vw;
    }
    textarea{
        resize: none;
        padding: 1vh 1vw;
    }
    button{
        padding: 1vh 2vh;
        border-radius: 5px;
    }
}

button
{
    background-color: #175888;
    color: white;
    padding: 1vh;
    cursor: pointer;
}



//About us page
.about{

    h1{
        color: #175888;
        text-align: center;
        margin: 5vh 0;
    }

    p{
        line-height: 2vw;
        margin-bottom: 2vw;
        padding: 0 5vw;
    }
}


//Teams page

.teams{
    h1{
        margin: 5vh 0;
    }
    .m-teams{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 12vw;
        gap: 3vw;
    }
}

.teams-heading{
    color: #175888;
}

.blog-card{
    height: 35vw;
    max-width: 27vw;
    box-shadow: -3px 3px 10px rgb(167, 167, 167);
    padding: 0 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    border-radius: 5px;

    h1{
        color: #175888;
        font-size: x-large;
    }
}


//Blogs page

.blogs{
    .blogs-content{
        margin-top: 10vh;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 2.5vw;
    }
}
 



@media screen and (max-width: 580px) {
    nav {
        padding: 0 5vw;
        
        img {
            height: 60%;
        }

        .nav-links {
            display: flex;
            gap: 2.5vw;
    
            p {
                color: #175888;
                font-size: small;
            }
            display: none;
        }

        .services-options {
            background-color: rgb(247, 247, 247);
            position: absolute;
            width: 40%;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
    
            p {
                color: black;
                margin: 0;
                padding: 6px;
    
                &:hover{
                    background-color: white;
                }
            }
        }

        .list-icon{
            display: block;
        }

        .nav-dropdown{
            display: block;
        }
    }


    footer {
        padding-left: 4vh;
        .footer-content {
            gap: 3vh;
        }
    }


    //Home page
    .home {

        .home-content {
            padding: 0 4vw;
            flex-direction: column;
    
            li {
                margin-bottom: 2vh;
            }
    
            p {
                line-height: 2.8vh;
            }
    
            img {
                height: 20vh;
                border-radius: 5px;
                margin-bottom: 4vh;
            }
        }
    
        .home-heading {
            color: #175888;
            font-size: x-large;
            padding-bottom: 1vh;
            border-bottom: 1px solid #c5c5c5;
        }
    }


    //teams page
    .teams{
        h1{
            margin: 5vh 0 ;
        }
        .m-teams{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 8vw;

            .team-item{
                margin-bottom: 5vh;
            }
        }
    }


    //blogs page

    .blogs{
        .blogs-content{
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6vh;
        }
    }

    .blog-card{
        height: 115vw;
        min-width: 85vw;
    }


    //About us

    .about{
        h1{
            margin: 3vh 0;
        }
    
        p{
            line-height: 3vh;
            margin-bottom: 5vh;
            padding: 0 6vw;
        }
    }



    //Contact us page

    .sec1{
        h1{
            margin: 4vh 0;
        }

        .m-branch{
            display: flex;
            flex-direction: column;

            .m-branch-content{
                margin: 0 4vh;
                margin-bottom: 1vh;
                h3{
                    font-size: large;
                }
            }
        }

        .main-map{
            width: 100%;
        }

        .form{
            gap: 2vw;
            width: 85vw;
            padding: 5vh 0;
            margin-bottom: 2vh;
         }
         form
         {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3vw;
            
            input{
            padding: 1vw 2vw;
            border: 1px solid grey;
            }
            textarea{
            padding: 1vh 2vw;
            border: 1px solid grey;
            }
            button{
                padding: 1vh 2vh;
                border-radius: 5px;
            }
         }
    }
}